.logo-admin {
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.1);
    margin: 16px;
    border-radius: 8px;
}

.logo-admin img {
    max-width: 80%;
}