<nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" nzBreakpoint="lg" [nzCollapsedWidth]="80" nzTheme="dark">
    <div class="logo-admin">
        @if(isCollapsed) {
        <img src="assets/img/logo-white.png" alt="Logo">
        } @else {
        <span>ATS</span>
        }
    </div>
    <ul class="menu-sidebar" nz-menu nzTheme="dark" nzMode="inline">
        <li nz-menu-item routerLink="analytics" routerLinkActive="ant-menu-item-selected" [routerLinkActiveOptions]="{exact: true}">
            <span nz-icon nzType="dashboard"></span>
            <span>Resumen General</span>
        </li>
        <li nz-menu-item routerLink="mis-tiendas" routerLinkActive="ant-menu-item-selected">
            <span nz-icon nzType="shop"></span>
            <span>Mis Tiendas</span>
        </li>
        <li nz-menu-item routerLink="mis-productos" routerLinkActive="ant-menu-item-selected">
            <span nz-icon nzType="barcode"></span>
            <span>Gestión de Productos</span>
        </li>
        <li nz-menu-item routerLink="ventas" routerLinkActive="ant-menu-item-selected">
            <span nz-icon nzType="ordered-list"></span>
            <span>Historial de Ventas</span>
        </li>
        <li nz-divider></li>
        <li nz-menu-item [routerLink]="['company-settings', companyUuid]" *ngIf="companyUuid" routerLinkActive="ant-menu-item-selected">
            <span nz-icon nzType="setting"></span>
            <span>Configuración Empresa</span>
        </li>
        <li nz-menu-item routerLink="super-admin" *ngIf="isSuperAdmin" routerLinkActive="ant-menu-item-selected">
            <span nz-icon nzType="safety-certificate"></span>
            <span>Consola SuperAdmin</span>
        </li>
        <li nz-menu-item routerLink="/">
            <span nz-icon nzType="arrow-left"></span>
            <span>Volver al Market</span>
        </li>
    </ul>
</nz-sider>