<div class="forgot-wrapper">
    <div class="forgot-content">

        <nz-card class="forgot-card">
            <div class="forgot-header">
                <h2>Recuperar Contraseña</h2>
                <p>Ingresa tu correo electrónico para restablecer tu contraseña</p>
            </div>

            @if (!emailSent) {
                <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
                    <!-- Email -->
                    <nz-form-item>
                        <nz-form-control nzErrorTip="Por favor ingresa un email válido">
                            <nz-input-group nzPrefixIcon="mail" style="width: 100%;">
                                <input type="email" nz-input formControlName="usr_email" placeholder="Correo Electrónico" />
                            </nz-input-group>
                        </nz-form-control>
                    </nz-form-item>

                    <!-- Botón de Envío -->
                    <nz-form-item style="margin-top: 24px;">
                        <nz-form-control>
                            <button nz-button nzType="primary" nzBlock [nzLoading]="isSubmitting">
                                Enviar instrucciones
                            </button>
                        </nz-form-control>
                    </nz-form-item>
                </form>
            } @else {
                <div class="success-message">
                    <nz-alert
                        nzType="success"
                        nzMessage="Correo Enviado"
                        [nzDescription]="alertDesc"
                        nzShowIcon
                    ></nz-alert>
                    
                    <ng-template #alertDesc>
                        Te hemos enviado un correo a <strong>{{ sentEmailAddress }}</strong> con los pasos necesarios para recuperar tu cuenta. Por favor, revisa tu bandeja de entrada y spam.
                    </ng-template>

                    <button nz-button nzType="primary" nzBlock routerLink="/auth/login" style="margin-top: 24px;">
                        Volver al inicio de sesión
                    </button>
                </div>
            }

            <div class="back-link" *ngIf="!emailSent">
                ¿Recordaste tu contraseña? <a [routerLink]="['/auth/login']">Inicia Sesión</a>
            </div>
        </nz-card>

    </div>
</div>
