/* You can add global styles to this file, and also import other style files */
/* Contenido Principal para evitar que el header fijo lo tape */
.app-content {
    padding: 64px 0 0 0;
    /* padding superior igual a la altura del header */
    min-height: calc(100vh - 64px);
    /* Para que ocupe toda la altura */
}

.inner-content {
    padding: 24px;
}